<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Weightlifting</th>
      <th>Table tennis hours</th>
      <th>Protein intake</th>
      <th>Ate junk</th>
      <th>Ate too much</th>
      <th>Weight</th>
      <th>Remarks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.weightlifting %></td>
        <td><%= entry.table_tennis_hours %></td>
        <td><%= entry.protein_intake %></td>
        <td><%= entry.ate_junk %></td>
        <td><%= entry.ate_too_much %></td>
        <td><%= entry.weight %></td>
        <td><%= entry.remarks %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
