<p id="notice"><%= notice %></p>

<p>
  <strong>Weightlifting:</strong>
  <%= @entry.weightlifting %>
</p>

<p>
  <strong>Table tennis hours:</strong>
  <%= @entry.table_tennis_hours %>
</p>

<p>
  <strong>Protein intake:</strong>
  <%= @entry.protein_intake %>
</p>

<p>
  <strong>Ate junk:</strong>
  <%= @entry.ate_junk %>
</p>

<p>
  <strong>Ate too much:</strong>
  <%= @entry.ate_too_much %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @entry.weight %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @entry.remarks %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
